<div class="chatbot-window">
  <div class="conversation-body">
    <figure class="chatbot-avatar">
      <img src="chatbot-avatar.png" alt="Chatbot Avatar">
    </figure>
    {{!-- <div class="conversation-bubble bot-bubble">
      <p>this is a nice conversation bubble</p>
    </div>
    <div class="conversation-bubble user-bubble">
      <p>this is a nice conversation bubble</p>
    </div> --}}

    <div class="card-container">
      <div class="card">
        <figure class="card-thumbnail">
          <img src="https://q-ec.bstatic.com/images/hotel/max1024x768/181/18147585.jpg" alt="hotel img">
          <figcaption class="hotel-name">
            Hotel Name
          </figcaption>
          <span class="hotel-rating">8.2</span>
        </figure>
        <span class="hotel-class">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>

        <button type="button" name="book" class="btn-book">Book now for $40.00</button>
      </div>
    </div>
  </div>
  <footer>
    <input type="text" name="user-input" id="user-input-q" value="" placeholder="type here">
    <button class="clear" id="clear-q"><i class="fa fa-close"></i></button>
  </footer>
</div>
