<div class="chatbot-window">
  <div class="chatbot-avatar"></div>
  <div class="conversation-body">
    <nav class="chatbot-actions">
      <ul>
        <li class="conversation-starter">Let's do something cool today!</li>
        <li>
          <button class="chatbot-action" id="book">
            <i class="fa fa-bed"></i>
            <span>Get a room</span>
          </button>
        </li>
        <li>
          <button class="chatbot-action" id="visit">
            <i class="fa fa-map-marker"></i>
            <span>Visit</span>
          </button>
        </li>
        <li>
          <button class="chatbot-action" id="eat">
            <i class="fa fa-cutlery"></i>
            <span>Eat</span>
          </button>
        </li>
        <li>
          <button class="chatbot-action" id="weather">
            <i class="fa fa-sun-o"></i>
            <span>Weather</span>
          </button>
        </li>
      </ul>
    </nav>

    <div class="card-container">
      <div class="card">
        <figure class="card-thumbnail">
          <span class="weather-description">
            mostly sunny
          </span>
          <img src="https://r-ec.bstatic.com/data/xphoto/1182x591/114/11465461.jpg" alt="hotel img">
          <figcaption class="city-name">
            Guadalajara
          </figcaption>
          <span class="weather-degrees">30 ยบ <span class="degree-type">C</span></span>
        </figure>
        <article class="weather-info">
          <h6 class="weather-title">Weather today</h6>
          Guadalajara is mostly sunny today. It's great for having some beers and tacos!
        </article>
      </div>
    </div>
  </div>
  <footer class="footer">
    <input type="text" name="user-input" id="user-input-q" value="" placeholder="what should we do today?">
    <button class="clear" id="clear-q"><i class="fa fa-close"></i></button>
  </footer>
</div>
