<div class="chatbot-window">
  <header>
    <button class="close"><i class="fa fa-close"></i></button>
  </header>
  <div class="conversation-body">
    <figure class="chatbot-avatar">
      <img src="chatbot-avatar.png" alt="Chatbot Avatar">
    </figure>
    {{!-- <div class="conversation-bubble bot-bubble">
      <p>this is a nice conversation bubble</p>
    </div>
    <div class="conversation-bubble user-bubble">
      <p>this is a nice conversation bubble</p>
    </div> --}}
    <button class="option-btn btn">this is a button</button>
  </div>
  <footer>
    <input type="text" name="user-input" id="user-input-q" value="" placeholder="type here">
    <button class="clear" id="clear-q"><i class="fa fa-close"></i></button>
  </footer>
</div>
