<div class="chatbot-window">
  <div class="chatbot-avatar"></div>
  <div class="conversation-body">
    <nav class="chatbot-actions">
      <ul>
        <li class="conversation-starter">Let's do something cool today!</li>
        <li>
          <button class="chatbot-action" id="book">
            <i class="fa fa-bed"></i>
            <span>Get a room</span>
          </button>
        </li>
        <li>
          <button class="chatbot-action" id="visit">
            <i class="fa fa-map-marker"></i>
            <span>Visit</span>
          </button>
        </li>
        <li>
          <button class="chatbot-action" id="eat">
            <i class="fa fa-cutlery"></i>
            <span>Eat</span>
          </button>
        </li>
        <li>
          <button class="chatbot-action" id="weather">
            <i class="fa fa-sun-o"></i>
            <span>Weather</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <footer class="footer">
    <input type="text" name="user-input" id="user-input-q" value="" placeholder="type here">
    <button class="clear" id="clear-q"><i class="fa fa-close"></i></button>
  </footer>
</div>
