<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
  <script type="text/javascript" src="/components/bootstrap/dist/css/bootstrap.min.css"></script>
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  {{{body}}}
  <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/components/slick-carousel/slick/slick.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript">
    jQuery('.card-container').slick({

    });
  </script>
  </body>
</html>
