body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  height: 648px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e9afc+0,05377e+100 */
  background: #1e9afc; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1e9afc 0%, #05377e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e9afc 0%,#05377e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e9afc 0%,#05377e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e9afc', endColorstr='#05377e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  * {
    box-sizing: border-box;
  }
}
a {
  color: #00B7FF;
}
p {
  margin-top: 0;
}
button {
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
button, input {
  &:focus, &:active {
    outline: none;
  }
}
.chatbot-window {
  background: white;
  //box-shadow: 5px -5px 0 rgba(#000, 0.2);
  border: 1px solid #cccccc;
  bottom: 0;
  display: block;
  left:0;
  max-height: 80%;
  overflow-y: scroll;
  padding: 20px 0 30px 0;
  position: absolute;
  width: 100%;
  header {
    border-bottom: 1px solid #ededed;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    button {
      color: #ededed;
      float: right;
      font-size: 18px;
      margin: 5px;
      &:hover {
        color: #1e9afc;
      }
    }
  }
  .conversation-body {
    display: block;
    float: left;
    max-height: 590px;
    overflow-y: scroll;
    position: relative;
    padding: 80px 30px 20px 30px;
    width: 100%;
    .chatbot-avatar {
      background: #f7f7f7;
      border: 1px solid #ededed;
      border-radius: 50%;
      display: block;
      height: 60px;
      left: 30px;
      margin: 0;
      position:absolute;
      overflow: hidden;
      top: 0;
      width: 60px;
    }
    .conversation-bubble {
      background: #ededed;
      border-radius: 4px;
      clear: both;
      float: left;
      margin-bottom: 20px;
      max-width: 80%;
      padding: 10px;
      position: relative;
      width: auto;
      &:before {
        background: #ededed;
        content: "";
        display: block;
        height: 8px;
        position: absolute;
        top: -3px;
        left: 6px;
        width: 8px;
        transform: rotate(45deg);
      }
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.user-bubble {
        background: #cde1fe;
        float: right;
        &:before {
          background: #cde1fe;
          top: 6px;
          left: initial;
          right: -3px;
          transform: rotate(135deg);
        }
      }
    }
  }
  footer {
    background: white;
    border-top: 1px solid #ededed;
    display: block;
    left: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    input {
      border: none;
      float: left;
      font-size: 16px;
      padding: 8px 10px;
      width: ~"calc(100% - 40px)";
    }
    button {
      border-left: 1px solid #ededed;
      color: #bdbdbd;
      float: right;
      font-size: 18px;
      height: 34px;
      width: 40px;
      &:hover {
        color: #707070;
      }
    }
  }
}
