body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e9afc+0,05377e+100 */
  background: #1e9afc;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1e9afc 0%, #05377e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e9afc 0%, #05377e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e9afc 0%, #05377e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e9afc', endColorstr='#05377e', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #383838;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  height: 637px;
  margin: 0;
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}
body * {
  box-sizing: border-box;
}
body:before {
  content: "";
  background-image: url('../img/fondo-booking.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -20px top;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
a {
  color: #00B7FF;
}
p {
  margin-top: 0;
}
button {
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}
button:focus,
input:focus,
button:active,
input:active {
  outline: none;
}
h1 {
  margin: 0 0 20px;
}
.wrapper {
  float: left;
  width: 100%;
}
.chatbot-window {
  bottom: 15px;
  display: block;
  margin: 80px auto 0 auto;
  padding: 0;
  position: absolute;
  width: calc(100% - 30px);
}
.chatbot-window .chatbot-avatar {
  background: #ffffff;
  background-image: url('../img/bot-avatar.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  border: 4px solid #1e9afc;
  border-radius: 50%;
  top: -50px;
  display: block;
  height: 100px;
  left: 50%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
  z-index: 3;
}
.chatbot-window .conversation-body {
  background: white;
  border-radius: 6px 6px 0 0;
  display: block;
  float: left;
  min-height: 100px;
  max-height: 498px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 190px 30px 20px 30px;
  width: 100%;
}
.chatbot-window .conversation-body .chatbot-actions {
  background: #ffffff;
  border-bottom: 1px solid #ededed;
  border-radius: 6px 6px 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  float: left;
  left: 0;
  margin: 0 0 20px;
  padding-top: 60px;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.chatbot-window .conversation-body .chatbot-actions ul {
  float: left;
  margin-top: 0;
  padding: 0 15px;
  width: 100%;
}
.chatbot-window .conversation-body .chatbot-actions ul li {
  border-left: 1px solid #ededed;
  float: left;
  list-style: none;
  width: 25%;
}
.chatbot-window .conversation-body .chatbot-actions ul li.conversation-starter {
  color: #707070;
  float: left;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.chatbot-window .conversation-body .chatbot-actions ul li:nth-child(1),
.chatbot-window .conversation-body .chatbot-actions ul li:nth-child(2) {
  border-left: none;
}
.chatbot-window .conversation-body .chatbot-actions ul li button {
  color: #707070;
  font-weight: 600;
}
.chatbot-window .conversation-body .chatbot-actions ul li span,
.chatbot-window .conversation-body .chatbot-actions ul li i {
  display: block;
  width: 100%;
}
.chatbot-window .conversation-body .chatbot-actions ul li i {
  color: #bdbdbd;
  font-size: 24px;
  margin-bottom: 10px;
}
.chatbot-window .conversation-body .conversation-bubble {
  background: #ededed;
  border-radius: 4px;
  box-shadow: 2px 2px 0px #dcdcdc;
  clear: both;
  float: left;
  margin-bottom: 20px;
  max-width: 80%;
  padding: 10px;
  position: relative;
  width: auto;
  z-index: 1;
}
.chatbot-window .conversation-body .conversation-bubble:before {
  background: #ededed;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  top: 6px;
  left: -3px;
  width: 8px;
  transform: rotate(45deg);
  z-index: -1;
}
.chatbot-window .conversation-body .conversation-bubble p:last-child {
  margin-bottom: 0;
}
.chatbot-window .conversation-body .conversation-bubble.user-bubble {
  background: #cde1fe;
  box-shadow: 2px 2px 0px #b2cef6;
  float: right;
}
.chatbot-window .conversation-body .conversation-bubble.user-bubble:before {
  background: #cde1fe;
  top: 6px;
  left: initial;
  right: -3px;
  z-index: -1;
}
.chatbot-window .conversation-body .conversation-bubble.user-bubble:after {
  background: #b2cef6;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  width: 8px;
  top: 8px;
  left: initial;
  right: -6px;
  transform: rotate(135deg);
  z-index: -2;
}
.chatbot-window .conversation-body .conversation-bubble.loading-bubble .fa-circle {
  font-size: 6px;
  font-weight: 600;
  margin-right: 2px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.chatbot-window .conversation-body .conversation-bubble.loading-bubble .fa-circle:nth-child(2) {
  animation-delay: .2s;
}
.chatbot-window .conversation-body .conversation-bubble.loading-bubble .fa-circle:nth-child(3) {
  animation-delay: .4s;
}
.chatbot-window .card-container {
  float: left;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.chatbot-window .card-container .card {
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.06);
  float: left;
  margin: 0 15px;
  overflow: hidden;
  padding: 10px;
  width: 290px;
}
.chatbot-window .card-container .card .card-thumbnail {
  float: left;
  margin: 0;
  height: 180px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.chatbot-window .card-container .card .card-thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: 0;
}
.chatbot-window .card-container .card .card-thumbnail .hotel-name {
  background: rgba(0,0,0, 0.5);
  bottom: 0;
  color: white;
  font-size: 16px;
  font-weight: 800;
  left: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.chatbot-window .card-container .card .card-thumbnail .hotel-rating {
  background: #1e9afc;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 36px;
}
.chatbot-window .card-container .card .hotel-class {
  display: block;
  float: left;
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}
.chatbot-window .card-container .card .hotel-class .fa {
  color: #fcba2c;
}
.chatbot-window .card-container .card .btn-book {
  background: #05377e;
  border-radius: 4px;
  border-bottom: 2px solid #011c41;
  color: white;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 8px;
  text-align: center;
  width: 100%;
}
.chatbot-window .card-container .slick-arrow {
  position: absolute;
  top: 0;
  left: -30px;
  height: 100%;
  font-size: 0;
  padding: 0;
  width: 20px;
  z-index: 2;
}
.chatbot-window .card-container .slick-arrow.slick-next {
  left: initial;
  right: -30px;
}
.footer {
  background: white;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #ededed;
  display: block;
  overflow: hidden;
  width: 100%;
}
.footer input {
  border: none;
  color: #383838;
  float: left;
  font-size: 16px;
  padding: 12px 16px;
  width: calc(100% - 40px);
}
.footer button {
  border-left: 1px solid #ededed;
  color: #bdbdbd;
  float: right;
  font-size: 18px;
  height: 42px;
  width: 40px;
}
.footer button:hover {
  color: #707070;
  cursor: pointer;
}
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
